body {
	margin: 0px;
}

.hoofdTitel {

	font-family: sans-serif, roboto;
	font-size: 36px;
}

.divHeelDiePagina {
	width: 1000px;
	margin: 0px auto;
}

.textOverGehaktbrood {
	font-family: sans-serif, roboto;
}

.ingredienten {
	font-family: sans-serif, roboto;
	font-size: 36px;
}

.lijstIngredienten {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.bereidingswijze {
	font-family: sans-serif, roboto;
	font-size: 36px;
}

.lijstBereidingswijze {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.plaatjeGehaktbrood {
	width: 500px;
	height: 500px;
}

.tip {
	font-size: 12px;
	font-family: sans-serif, roboto;
	padding: 15px;
	background-color: #def6ed;
	width: 550px;
	border-radius: 4px;
}

.voorgerechtLink {
	text-decoration: none;
	font-size: 45px;
	font-family: sans-serif, roboto;
	font-weight: bold;
	color: red;
}


a:hover {
	color: yellow;
}

.divVoorgerecht {
	width: 1000px;
	margin: 0px auto;
}

.kippenPlaatje {
	padding: 50px;
}

.voorgerechtTitel {
	font-family: sans-serif, roboto;
	font-size: 60px;
}

.navigationbar {
	position: fixed;
	background-color: grey;
	list-style: none;
}

.gehaktbroodLink {
	text-decoration: none;
	font-size: 45px;
	font-family: sans-serif, roboto;
	font-weight: bold;
	color: red;
}

.nagerechtLink {
	text-decoration: none;
	font-size: 45px;
	font-family: sans-serif, roboto;
	font-weight: bold;
	color: red;
}

.voorgerechtIngredienten {
	font-family: sans-serif, roboto;
	font-size: 45px;
}

.soepIngredienten {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.voorgerechtBereiding {
	font-family: sans-serif, roboto;
	font-size: 40px;
}

.voorgerechtBereidingText {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.divNagerecht {
	width: 1000px;
	margin: 0px auto;
}

.ijsPlaatje {
	padding: 50px;
}

.nagerechtTitel {
	font-family: sans-serif, roboto;
	font-size: 60px;
}

.nagerechtIngredienten {
	font-family: sans-serif, roboto;
	font-size: 45px;
}

.ijsIngredienten {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.benodigdheden {
	font-family: sans-serif, roboto;
	font-size: 45px;
}

.mixer {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.ijsBereiding {
	font-family: sans-serif, roboto;
	font-size: 45px;
}

.ijsText {
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.bereidingswijzeMarge {
	margin: 10px;
}

.IngredientenMarge {
	margin: 5px;
	font-family: sans-serif, roboto;
	font-size: 20px;
}

.bereidingswijzeLijst {
	
}
